<% provide(:title, "About") %>

<h1>About the Sample App</h1>

<p>The Sample App is a simple Ruby on Rails project designed to demonstrate key features of a social networking site. It allows users to:</p>

<ul>
  <li>Create an account and log in securely</li>
  <li>Post short updates (microposts)</li>
  <li>Follow and unfollow other users</li>
  <li>View a feed of updates from people they follow</li>
</ul>

<p>This app was built as part of the Ruby on Rails Tutorial to help developers learn best practices in full-stack web development.</p>
